/* ------ reset ------*/

{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* -- element selector -- */
h2.logo{
  color:#fff;
}

body{
  background-color: #f4f4f4;
  color: #555;
  font-family: Verdana;
  front-size:16px;
  line-height: 1.6em;
  margin: 0;
}

div a{
  text-decoration: none;
  color:black;
  padding-left: 15px;
  font-family: adelline;
  font-size: 2em;
  line-height: 1.8;

}
div p{
  text-decoration: none;
  color:black;
  font-family: Verdana;
  font-size: 0.45em;

}
/*Text nav and footer, href */
f{
  text-decoration: none;
  color: white;
}


/* --class selector-- */
.flex-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  word-wrap: break-word;
}
.flex-box{
  width: 200px;
  height: 200px;
  background:#D8A48F;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 20px;
  margin: 10px;
  font-family: adelline;
}

.countries{
  box-shadow: 0 5px 5px #808080;
  font-size: 1rem;
  padding: 1em 1.2em 1em 1.2em;
  cursor: pointer;
}

.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.button-slicer{
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  margin: 10px;
  color: #000;
  text-align: center;
}

.btn {
  text-decoration: none;
  padding: 20px 50px;
  font-size: 1.25rem;
  position: relative;
  margin: 32px;
  color: #000;
  text-align: center;
}
.mySlides {display:none;}

/*Pseudo-elements*/
.btn::after, .btn::before{
  border: 3px solid #000;
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}
.display-container{
  position:relative
}
.content{
  margin-left:auto;
  margin-right:auto;
  max-width:980px;
}
.images-style{
  left:0;
  bottom:0;
  font-size:18px;
  padding:0.01em 16px;
  padding-top:16px;
  padding-bottom:16px;
  color:#000;
  background-color:#BB8588;
}
.button-slicer{
  text-align: center;

}
/* -- Pseudo-classes -- */

.btn:hover::after{
  transform: translate(-5px,-5px);
}
.btn:hover::before{
  transform: translate(5px,5px);
}
.flex-box:hover{
  transform: scale(1.1);
}
f:hover{
  color: pink;
}
.buttons{
  display: flex;
  flex-direction: row;
}


/* --id selector -- */

#showcase{
  background-image: url('../images/background.jpg');
  background-position: center right;
  min-height: 300 px;
  margin-bottom: 30px;
  text-align: center;
}

#showcase h1{
  color:#fff;
  font-size: 50px;
  line-height: 1.6em;
  padding-top: 30px;
}

#side-bar h1{
  color:#fff;
  /* line-height: 1.6em; */
  padding-left: 30px;
  text-align: left;
}

#main{
  float:left;
  padding: 0 30px;
  box-sizing: border-box;
}

#side-bar{
  float:right;
  width: 30%;
  background: #333;
  color:white;
  padding: 10px;
  box-sizing: border-box;
}

#main-footer{
  background: #A3A380;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top:40px;
}




/* ------ Fonts ------ */
@font-face {
  font-family: 'adelline';
  src:url('../fonts/Australia Script.ttf');
}
h2.logo{
  font-family: adelline;
}
body{
  font-family: Verdana;
  front-size:16px;
}

#showcase{
  font-family: adelline;

}
#side-bar h1{
  font-family: adelline;
  font-size: 40px;
}




/* small tablet styles */
@media screen and (max-width: 620px){
  .buttons{
    display: flex;
    flex-direction: column;
  }
}

/* large tablet & laptop styles */
@media screen and (max-width: 960px){
  .buttons{
    display: flex;
    flex-direction: column;
  }

}

/* desktop styles */
@media screen and (max-width: 1200px){


}
