body{
  background-color: #f4f4f4;
  color: #555;
  font-family: Arial;
  front-size:16px;
  line-height: 1.6em;
  margin: 0;
}

@font-face {
  font-family: 'adelline';
  src:url('../fonts/Australia Script.ttf');
  /* font-style: normal; */

}

.container{
width: 80%;
margin:auto;
overflow: hidden;

}
#main-header{
  background-color:  #999966;
  color:#fff;
  font-family: adelline;
  margin-left: none;
  text-align: right;
}

#main-nav{
  background-color: #333;
  color:#fff
}
#main-nav ul{
  padding: 0;
  list-style: none;

}

#main-nav li{
  display:inline;
}

#main-nav a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}

#showcase{
  background-image: url('../images/background.jpg');
  background-position: center right;
  min-height: 300 px;
  margin-bottom: 30px;
  text-align: center;
  font-family: adelline;


}

#showcase h1{
  color:#fff;
  font-size: 50px;
  line-height: 1.6em;
  padding-top: 30px;

}

#main{
  float:left;
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;

}

#side-bar{
  float:right;
  width: 30%;
  background: #333;
  color:#fff;
  padding: 10px;
  box-sizing: border-box;

}
#main-footer{
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top:40px;
}

@media(max-width:600px){
  #main{
    width:100%;
    float:none;
  }
  #side-bar{
    width:100%;
    float:none;
  }
}
