/* ------ reset ------*/

{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* -- element selector -- */
h2.logo{
  color:#fff;
}

body{
  background-color: #f4f4f4;
  color: #555;
  font-family: Verdana;
  front-size:16px;
  line-height: 1.6em;
  margin: 0;
  width: 100;
  display:flex;
  flex-direction: column;

}

div a{
  text-decoration: none;
  color:black;
  padding-left: 15px;
  font-family: adelline;
  font-size: 2em;
  line-height: 1.8;

}
div p{
  text-decoration: none;
  color:black;
  font-family: Verdana;
  font-size: 0.45em;

}
/*Text nav and footer, href */
f{
  text-decoration: none;
  color: white;
}


/* --class selector-- */
.container-photos{
  width: 100%;
  max-width: 120rem;
  margin: auto;
}

.image-gallery{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas:
      'img-5 img-2 img-3 img-3'
      'img-4 img-7 img-1 img-6';

}

.image-gallery a{
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.image-gallery a img{
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  position: relative;
  z-index: 100;
  padding: 1rem 1rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: .4rem;
  opacity: 0;
  transition: opacity .5s;
}

.image-gallery a::before{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(163, 163, 128, 0.5);
  opacity: 0;
  transition: opacity .5s;

}
.image-gallery a:hover img,
.image-gallery a:hover::before{
  opacity: 1;
}

.img-1{
  grid-area: img-1;
  background-image: url("../images/quotes/travel_7.jpeg");
}
.img-2{
  grid-area: img-2;
  background-image: url("../images/quotes/travel_8.jpeg");
}
.img-3{
  grid-area: img-3;
  background-image: url("../images/quotes/travel_9.png");
}
.img-4{
  grid-area: img-4;
  background-image: url("../images/quotes/travel_10.jpeg");
}
.img-5{
  grid-area: img-5;
  background-image: url("../images/quotes/travel_13.jpeg");
}
.img-6{
    grid-area: img-6;
    background-image: url("../images/quotes/travel_14.jpeg");
}
.img-7{
    grid-area: img-7;
    background-image: url("../images/quotes/travel_15.jpeg");
}

/* ---------------*/

.flex-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  word-wrap: break-word;
}
.flex-box{
  width: 200px;
  height: 200px;
  background:#D8A48F;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 20px;
  margin: 10px;
  font-family: adelline;
}

.countries{
  box-shadow: 0 5px 5px #808080;
  font-size: 1rem;
  padding: 1em 1.2em 1em 1.2em;
  cursor: pointer;
}

.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.button-slicer{
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  margin: 10px;
  color: #000;
  text-align: center;
}

.btn {
  text-decoration: none;
  padding: 20px 50px;
  font-size: 1.25rem;
  position: relative;
  margin: 32px;
  color: #000;
  text-align: center;
}
.mySlides {
  display:none;
}

.display-container{
  position:relative
}
.content{
  margin-left:auto;
  margin-right:auto;
  max-width:980px;
}

.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: none;
}


.modal-content {
  background-color: #fff;
  margin-top: 100px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 24px;
  border-radius: 4px;
  z-index: 4;


}
.modal-content h1{
  color: #A3A380;
  font-family: adelline;
  font-size: 1.4rem;
  margin: 0;
}

.modal-content p{
  color: #000;
  font-size: 1rem;
  opacity: 0.7;
}

.modal-content button{
  color: #000;
  font-size: 1rem;
  opacity: 0.7;
  text-align: center;
}

/*Pseudo-elements*/
.btn::after, .btn::before{
  border: 3px solid #000;
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

/* -- Pseudo-classes -- */

.btn:hover::after{
  transform: translate(-5px,-5px);
}
.btn:hover::before{
  transform: translate(5px,5px);
}
.flex-box:hover{
  transform: scale(1.1);
}
f:hover{
  color: pink;
}
.buttons{
  display: flex;
  flex-direction: row;
}


/* --id selector -- */
#btn-open{
color:#000;
background-color:#BB8588;
border-radius: 5px;
border: 0;
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
left:0;
bottom:0;
font-size:18px;
padding: 10px 25px;
cursor: pointer;
}

#showcase{
  background-image: url('../images/background.jpg');
  background-position: center right;
  min-height: 300 px;
  margin-bottom: 30px;
  text-align: center;
}

#showcase h1{
  color:#fff;
  font-size: 50px;
  line-height: 1.6em;
  padding-top: 30px;
}

#side-bar h1{
  color:#fff;
  /* line-height: 1.6em; */
  padding-left: 30px;
  text-align: left;
}

#main{
  float:left;
  padding: 0 30px;
  box-sizing: border-box;
}

#side-bar{
  float:right;
  width: 30%;
  background: #333;
  color:white;
  padding: 10px;
  box-sizing: border-box;
}

#main-footer{
  background: #A3A380;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top:40px;
}




/* ------ Fonts ------ */
@font-face {
  font-family: 'adelline';
  src:url('../fonts/Australia Script.ttf');
}
h2.logo{
  font-family: adelline;
}
body{
  font-family: Verdana;
  front-size:16px;
}

#showcase{
  font-family: adelline;

}
#side-bar h1{
  font-family: adelline;
  font-size: 40px;
}




/* small tablet styles */
@media screen and (max-width: 620px){
  .buttons{
    display: flex;
    flex-direction: column;
  }
  .image-gallery{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'img-1 img-2'
        'img-3 img-3'
        'img-4 img-7'
        'img-5 img-6';

  }
}

/* large tablet & laptop styles */
@media screen and (max-width: 960px){
  .buttons{
    display: flex;
    flex-direction: column;
  }
  .image-gallery{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'img-5 img-2'
        'img-3 img-3'
        'img-4 img-7'
        'img-1 img-6';

  }

}

/* desktop styles */
@media screen and (max-width: 1200px){


}
